@use "../helpers/variable" as *;
@use "../helpers/mixin" as *;

/* section */
.loader-default {
  inset: 0;
}

.hero {
  padding-inline: 4%;
}

.topic {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 10%;
  padding-inline: 4%;
  gap: $sp2;

  @include media-min($tab-min) {
    padding-inline: 10.33%;
    gap: $sp3;
  }

  @include media-min($tab-max) {
    padding-inline: 16.66%;
    gap: $sp4;
  }
}

.topic-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding-inline: 4%;
  background: $bgc-primary;
  z-index: 999;

  @include media-min($tab-min) {
    padding-inline: 10.33%;
  }

  @include media-min($tab-max) {
    top: 105px;
    height: calc(100vh - 105px);
    padding-inline: 16.66% 0;
  }
}

.inpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 56px;
  overflow: visible;

  @include media-scope($tab-min, 1023px) {
    margin-top: 95px;
  }

  @include media-min($tab-max) {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 105px;
  }
}

/* container */
.container {
  width: 100%;
}

/* header */
.topic-header {
  padding-bottom: $sp2;

  @include media-min($tab-min) {
    padding-bottom: $sp3;
  }

  @include media-min($tab-max) {
    padding-bottom: $sp4;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: $sp2;
    background: $bc-primary;

    @include media-min($tab-min) {
      margin-top: $sp3;
    }

    @include media-min($tab-max) {
      margin-top: $sp4;
    }
  }

  .no {
    font-size: $p4;
  }
}

.inpage-header {
  width: 100%;

  @include media-min($tab-max) {
    width: clamp(300px, 25%, 480px);
    height: 100%;
  }
}

/* inline */
.inline {
  width: 100%;
  height: 100%;

  .inline-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: $sp2;

    @include media-min($mob-max) {
      gap: $sp3;
    }

    @include media-min($tab-max) {
      gap: 28px;
    }
  }

  .inline-image {
    width: 100%;
    pointer-events: none;
  }
}

.inpage-inline {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 90%;
  margin: 10% auto;
  gap: $sp3;
  overflow: visible;

  @include media-scope($tab-min, 1023px) {
    margin: 9.7% auto;
  }

  @include media-min($tab-max) {
    width: clamp(520px, 45.8%, 880px);
    margin: 5.2% auto;
    gap: $sp2;
  }

  .inline-image {
    display: flex;
    flex-direction: column;
    gap: $sp2;
    pointer-events: initial;
  }

  .note {
    font-size: $p4;
    text-align: left;
    color: $fc-note;

    @include media-min($tab-max) {
      text-align: right;
    }
  }
}

/* 
section
  container
    part
      header
        h1
      inline
        inline-text
        inline-image
*/
