@use "../helpers/variable" as *;

.bgc-primary {
  background: $bgc-primary;
}

.bgc-primary-60 {
  background: $bgc-primary-60;
}

.fc-primary {
  color: $fc-primary;
}

.fc-secondary {
  color: $fc-secondary;
}

.fc-prompt {
  color: $fc-prompt;
}

.bc-primary {
  border-color: $bc-primary;
}

.bc-secondary {
  border-color: $bc-secondary;
}
