@use "../helpers/variable" as *;
@use "../helpers/mixin" as *;
@use "sass:map";

/* font size */
.text-l {
  font-size: $p1;
}

.text-m {
  font-size: $p2;
}

.text-s {
  font-size: $p3;
}

.text-xs {
  font-size: $p4;
}

/* text alignment */
@each $breakpoint in map.keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    // ➤ 顯示 flex 的工具 class
    .text-left#{$infix} {
      text-align: left;
    }
    .text-center#{$infix} {
      text-align: center;
    }
  }
}

.d-iflex {
  display: inline-flex;
}

.d-iflex-row-center {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.d-iflex-column-center {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
