@use "../helpers/variable" as *;
@use "../helpers/mixin" as *;

/* header */
h1#title {
  span.title-ch {
    font-size: $h1;
    font-weight: 300;
  }

  span.title-en {
    font-size: $p3;
    font-weight: 400;
    letter-spacing: normal;
  }
}

h2.heading {
  span.heading-ch {
    display: inline-block;
    font-size: $h2;
  }

  span.heading-en {
    display: inline-block;
    font-size: clamp(16px, 1.6vw, 18px);
    color: c-secondary;
  }
}

/* inline */
.d-iflex {
  &--jc-center {
    justify-content: center !important;
  }

  &--center {
    align-items: center !important;
    justify-content: center !important;
  }
}
