@use "../helpers/variable" as *;
@use "../helpers/mixin" as *;

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $sp4;
  z-index: 98;

  .info-container {
    width: 100%;
    padding-block: $sp3;
    text-align: center;
    border-top: 1px solid $bc-primary;
  }

  .nav-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 13px;

    .link {
      display: inline-block;
      margin-top: $sp3;
      padding: 0 8px;
      font-size: 13px;
      color: $fc-primary;
      border-right: 1px solid $fc-primary;

      &:last-child {
        border-right: 0;
      }

      @media (min-width: $tab-min) {
        padding: 0 10px;
        font-size: $p3;
      }
    }

    a {
      color: $fc-primary;

      &:hover {
        color: orange;
      }
    }
  }
}