@use "../helpers/variable" as *;
@use "../helpers/mixin" as *;
@use "sass:map";
@use "sass:list";

/* color */
@for $i from 1 through 17 {
  .fc-sdg-#{$i} {
    color: list.nth($fc-sdgs, $i);
  }

  .bc-sdg-#{$i} {
    border-color: list.nth($fc-sdgs, $i);
  }

  .bgc-sdg-#{$i} {
    background-color: list.nth($fc-sdgs, $i);
  }
}

.fc-aspect-1 {
  color: list.nth($fc-sdgs, 3);
}

.fc-aspect-2 {
  color: list.nth($fc-sdgs, 7);
}

.fc-aspect-3 {
  color: list.nth($fc-sdgs, 10);
}

.fc-aspect-4 {
  color: list.nth($fc-sdgs, 16);
}

/* scroll progress */
.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  overflow: hidden;
  z-index: 9999;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5px;
    background: linear-gradient(to right, #{$sdg-gradient});
  }
}

/* section */
.worldwide-goal {
  height: calc(100vh - 105px);
}

/* container */
.gsap-scroll-hero {
  height: 400vh;
}

/* inline */

/* inline container */
.wwg-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include media-min($tab-min) {
    position: relative;
    display: block;
  }
}

/* inline part */
.hero-part {
  width: 100%;
  height: 100vh;
}

.cake-part {
  display: flex;
  flex-direction: column;
  gap: $sp2;

  @include media-min($tab-min) {
    gap: $sp3;
  }

  @include media-min($tab-max) {
    flex-direction: row;
    min-height: calc(100vh - 105px);
  }
}

/* inline txt & image */
.ww-inline-text {
  @include media-min($tab-max) {
    width: 50% !important;
    max-width: 630px;
  }
}

.wwg-item {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  @include media-min($tab-max) {
    width: max(360px, 30%) !important;
    padding-top: $sp2;
  }
}

.wwg-inline-image {
  position: relative;
  height: 60vh;

  @include media-min($tab-max) {
    position: absolute;
    top: $sp5;
    right: 0;
  }

  @include media-min(1440px) {
    top: 0;
  }
}

.cake-inline-text {
  position: relative;
  height: 100%;
}

.contrib-inline-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: $sp5;
  gap: $sp4;

  @include media-min($tab-min) {
    flex-direction: row;
    justify-content: center;
    margin-block: $sp7;
  }
}

.contrib-inline-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center start;
  gap: $sp2 $sp5;
  width: fit-content;
  margin: $sp3 auto;

  @include media-min($tab-min) {
    margin: $sp4 auto;
  }
}

/* inline txt & image container */
.gsap-scroll-tw {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $sp3;
  will-change: transform;
}

/* inline txt & image part */
// .goal17-text-part {
//   display: flex;
//   flex-direction: column;
//   height: 300px;
//   gap: $sp2;

//   @include media-min($tab-min) {
//     padding-top: $sp2;
//   }

//   @include media-min($tab-max) {
// width: min(360px, 30%) !important;
//     padding-top: $sp3;
//     gap: $sp3;
//   }
// }

/* img */
.bg-main-visual {
  position: absolute;
  inset: 0;
  width: 100%;
  aspect-ratio: 3/4;
  margin: auto;
  z-index: -1;

  @include media-min($tab-max) {
    top: $sp9;
    aspect-ratio: 16/9;
  }
}

.img-goals {
  width: 1040px;
  margin-top: -104px;
  margin-left: -104px;

  @include media-min($mob-max) {
    margin-top: -40px;
  }

  @include media-min($tab-min) {
    width: 1608px;
    margin-top: -250px;
    margin-left: -190px;
  }

  @include media-min($tab-max) {
    margin-top: -300px;
  }
}

.img-drawer-heading {
  width: 258px;

  @include media-min($tab-min) {
    width: 360px;
  }
}

.lottie-goal17 {
  position: absolute;
  top: $sp5;
  right: -$sp15;
  display: block;
  height: 40vh;

  @include media-min(425px) {
    top: $sp3;
    height: 50vh;
  }

  @include media-min($mob-max) {
    top: 0;
    height: 60vh;
  }

  @include media-min($tab-min) {
    height: 70vh;
  }

  @include media-min($tab-max) {
    height: 80vh;
    margin-left: auto;
  }
}

.img-cake {
  position: sticky;
  top: 0;
  width: 100%;
}

.logo-brand {
  position: relative;
  bottom: 0;
}

.img-label {
  width: 48px;
  border-radius: 5px;
}

.img-inpage-heading {
  position: sticky;
  top: 105px;
  display: block;
  width: 100%;
}

.img-sdg {
  width: 100%;
}

.img-sdg.d {
  @include media-max(1023px) {
    display: none;
  }
}

.img-sdg.tm {
  @include media-min($tab-max) {
    display: none;
  }
}

/* guidance */
.guidance-scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  .icon-line {
    &--anim {
      position: relative;
      display: inline-block;
      width: 1px;
      height: 0;
      margin-top: $sp1;
      background: white;
      text-shadow: 0 0 20px white;
      animation: scroll-down 2s ease-in infinite;
    }
  }
}

/* icon */
.icon-loading {
  position: absolute;
  inset: 0;
  width: 32px;
  margin: auto;

  @include media-scope(425px, 767px) {
    width: 40px;
  }

  @include media-scope($tab-min, 1023px) {
    width: 46px;
  }

  @include media-min($tab-max) {
    width: 52px;
  }
}

.icon-plus {
  position: absolute;
  right: $sp1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 32px;
  border: 1px solid;
  border-radius: 50%;
}

/* btn */
.wwg-close {
  margin-right: $sp1;

  @include media-min($mob-max) {
    margin-right: $sp2;
  }

  @include media-min($tab-max) {
    margin-right: $sp3;
  }
}

.wwg-page {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include media-max(539px) {
    display: none;
  }

  &:hover {
    transform: scale(1.5);
  }
}
