@use "../helpers/variable" as *;
@use "../helpers/mixin" as *;
@use "sass:map";
@use "sass:list";

/* color */
@for $i from 1 through 17 {
  .fc-sdg-#{$i} {
    color: list.nth($fc-sdgs, $i);
  }
  .bc-sdg-#{$i} {
    border-color: list.nth($fc-sdgs, $i);
  }
}

.fc-aspect-1 {
  color: list.nth($fc-sdgs, 3);
}

.fc-aspect-2 {
  color: list.nth($fc-sdgs, 7);
}

.fc-aspect-3 {
  color: list.nth($fc-sdgs, 10);
}

.fc-aspect-4 {
  color: list.nth($fc-sdgs, 16);
}

/* section */
.worldwide-goal {
  height: calc(100vh - 105px);
  overflow-y: scroll;
  will-change: scroll-position;
}

/* container */
.gsap-scroll-hero {
  height: 400vh;
}

[class^="hero-part"] {
  width: 100%;
  height: 100vh;
}

/* inline container */
.goal17-container {
  height: 100%;
}

.gsap-scroll-goal {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include media-min($tab-min) {
    display: block;
  }
}

.gsap-scroll-cakes {
  height: calc(100vh - 105px);
}

/* inline txt & image container */
.ww-inline-text {
  @include media-min($tab-max) {
    width: 50% !important;
    max-width: 630px;
  }
}

.wwg-inline-text {
  position: relative;
  width: 100% !important;
  height: max(300px, 30vh) !important;

  @include media-min($tab-max) {
    width: 30% !important;
    max-width: 630px;
    height: 360px !important;
  }
}

.wwg-inline-image {
  position: relative;
  height: 60vh;

  @include media-min($tab-max) {
    position: absolute;
    top: $sp5;
    right: 0;
  }

  @include media-min(1440px) {
    top: 0;
  }
}

.goal17-text-parts {
  height: 360px;
}

/* txt */
.goal17-text-part {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 300px;
  gap: $sp2;

  @include media-min($tab-min) {
    padding-top: $sp2;
  }

  @include media-min($tab-max) {
    position: absolute;
    top: 0;
    height: 360px;
    padding-top: $sp3;
    gap: $sp3;
  }
}

.cake-text-part {
  @include media-min($tab-max) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $sp3;
    width: 100%;
    height: calc(100vh - 105px);
  }
}

/* img */
.bg-main-visual {
  position: absolute;
  inset: 0;
  width: 100%;
  aspect-ratio: 3/4;
  margin: auto;
  z-index: -1;

  @include media-min($tab-max) {
    top: $sp9;
    aspect-ratio: 16/9;
  }
}

.img-goals {
  width: 1282px;
  height: 804px;
  margin-top: -360px;

  @include media-min($mob-max) {
    margin-top: -320px;
  }

  @include media-min($tab-min) {
    margin-top: -250px;
  }

  @include media-min($tab-max) {
    margin-top: 0;
  }
}

.img-drawer-heading {
  width: 258px;

  @include media-min($tab-min) {
    width: 360px;
  }
}

.img-goal17 {
  position: absolute;
  top: $sp5;
  right: -$sp15;
  display: block;
  height: 40vh;

  @include media-min(425px) {
    top: $sp3;
    height: 50vh;
  }

  @include media-min($mob-max) {
    top: 0;
    height: 60vh;
  }

  @include media-min($tab-min) {
    height: 70vh;
  }

  @include media-min($tab-max) {
    height: 80vh;
    margin-left: auto;
  }
}

.img-cakes:nth-of-type(1) {
  width: 100%;
  aspect-ratio: 586 / 626;
}

.img-cakes:not(:nth-of-type(1)) {
  width: 100%;
  aspect-ratio: 840 / 780;
}

.img-cake {
  width: 100%;
}

.logo-brand {
  position: relative;
  bottom: 0;
}

.img-label {
  width: 48px;
  border-radius: 5px;
}

.icon-plus {
  position: absolute;
  right: $sp1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 32px;
  border: 1px solid;
  border-radius: 50%;
}

/* btn */
.wwg-close {
  margin-right: $sp1;

  @include media-min($mob-max) {
    margin-right: $sp2;
  }

  @include media-min($tab-max) {
    margin-right: $sp3;
  }
}

.wwg-page {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include media-max(539.9px) {
    display: none;
  }

  &:hover {
    transform: scale(1.5);
  }
}
