@use "../helpers/variable" as *;
@use "../helpers/mixin" as *;

.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-inline: 4%;
  background: $bgc-primary;

  @include media-min($tab-min) {
    padding-inline: 10.33%;
  }

  @include media-min($tab-max) {
    padding-inline: 16.66%;
  }

  span {
    font-size: 28px;
  }
}
